<div class="theme-showcase" role="main">
<h1>Welcome to credit cards managment</h1>
<button class="btn btn-secondar" onClick="getOffers()">Get More Offers</button>
<%= render :partial => 'cards/cards', :locals => { :cards => Card.all }%>
</div>