/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
/*@import "bootstrap-sprockets";*/
@import "bootstrap";

ul {
  list-style-type: none;
}

body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}

.center {
  text-align: center;
}

.pic, .info, .form, .indevidual_card, .indevidual_account{
  padding: 20px;
  display: inline-block;
  background-color: #EEEEEE; 
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}

.info {
  width: 305px;
  height: 150px;
  text-align: left;
}

.floated {
   float:left;
   margin-right:5px;
}

.banks_list .bank_with_cards .cards_list .info {
   float:left;
   margin-right:5px;
}

.bank_with_cards {
	border-radius: 7px;
	padding-top: 10px;
	background-color: #e6e6e6;
	clear: both;	
}

.card {
	box-shadow: 6px 6px 5px #888888;
}

.card:hover {
	box-shadow: 7px 7px 5px #588888;
}

.bank_with_cards strong {
	position: center;
	color: black;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.card-content, .cards-content-ul, .card-form-content{
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 7px 7px 5px #888888;
    width: 50%; /* Could be more or less, depending on screen size */
}

.close {
    color: #11111;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



