<div class="accounts_list">
	<ul>
	<% accounts.each do |account|%>
	    <li>
		    <div class="info card">
			    <strong>Account Number: </strong>  <%= link_to(account.account_number, user_account_path(user.id, account.id)) %><br>
			        <strong>Card: </strong> <%= link_to(account.card.name, card_path(account.card.id)) %> 
			        <%= loggedin_buttons_for(account) %>    	
			</div>
	    </li>
	<% end %>	
	</ul>
</div>